@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #8b8b8b;
  --bg-gray: #f6f6f6;
  --green: #02512b;
  --blue: #1458c3;
  --purple: #3102b4;
  --red: #bd001e;
  --yellow: #b28000;
  ---border: #efefef;
}

body {
  font-family: "Anuphan", sans-serif;
}
.ad-button {
  background-color: black;
  color: white;
  height: 42px;
  width: 98px;
  border-radius: 8px;
}
button {
  background-color: black;
  color: white;
  height: 42px;
  min-width: 98px;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 4px;
}

.at-bg-white {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.at-bg-pink {
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
.at-bg-blue {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.at-bg-black {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
.at-bg-gold {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

input,
select {
  border: 1px solid gainsboro;
  color: #636363;
  padding: 4px 8px;
  outline: none;
  border-radius: 4px;
}

.chip {
  background-color: black;
  color: white;
  border-radius: 200px;
  padding: 0 16px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: fit-content;
}
